<md-content ng-controller="PlayerCtrl as vm" layout="column" layout-fill layout-margin layout-padding>
    <md-card class="large-text" md-display-2 layout="row" layout-align="start start" layout-fill>
        <md-card-content layout-fill>
            <div layout="row" flex="45">
                <md-input-container md-no-float flex="50">
                    <label class="bigtext">Name</label>
                    <input ng-model="vm.player.name" />
                </md-input-container>
                <md-input-container md-no-float flex="50">
                    <label>Archetype</label>
                    <input ng-model="vm.player.archetype" disabled />
                </md-input-container>
            </div>
            <div layout="row" flex="45">
                <md-input-container md-no-float>
                    <label>Native Zone</label>
                    <md-select ng-model="vm.player.nativeZone">
                        <md-option ng-repeat="zone in vm.zones" ng-value="zone.Name">
                            {{zone.Name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button ng-click="vm.save()" class="hoverable">Save</md-button>
        </md-card-content>
    </md-card>
</md-content>