@font-face {
    font-family: 'LilacMalaria';
    src: url('fonts/lilac_malaria-webfont.woff') format('woff');
}

@font-face {
    font-family: '1942Report';
    src: url('fonts/1942-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Kingthings';
    src: url('fonts/Kingthings_Trypewriter_2-webfont.woff') format('woff');
}

* {
    font-family: '1942Report';
}

body {
    margin: 5px;
}
