/*inject-fonts*/

@font-face {
	font-family: '1942';
	src: url('fonts/1942-webfont.woff') format('woff');
}


@font-face {
	font-family: 'Kingthings';
	src: url('fonts/Kingthings_Trypewriter_2-webfont.woff') format('woff');
}


@font-face {
	font-family: 'Lilac';
	src: url('fonts/lilac_malaria-webfont.woff') format('woff');
}

/*endinject*/

* {
    font-family: '1942';
}

body {
    margin: 5px;
}
